<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="duke" class="com.springinaction.springidol.Juggler">
        <constructor-arg value="15"/>
        <!--<constructor-arg>-->
            <!--<bean class="com.springinaction.springidol.Sonnet29"/>-->
        <!--</constructor-arg>-->
    </bean>
    <bean id="sonnet29" class="com.springinaction.springidol.Sonnet29"/>
    <bean id="theStage"
          class="com.springinaction.springidol.Stage"
          factory-method="getInstance"/>
    <bean id="auditorium"
          class="com.springinaction.springidol.Auditorium"
          init-method="turnOnLights"
          destroy-method="turnOffLights"/>
    <bean id="kenny"
          class="com.springinaction.springidol.Instrumentalist">
    <property name="song" value="JingleBells"/>
    <property name="instrument">
        <bean class="com.springinaction.springidol.Saxophone"/>
    </property>
    </bean>
    <bean id="saxophone"
          class="com.springinaction.springidol.Saxophone"/>
    <bean id="piano" class="com.springinaction.springidol.Piano"/>

</beans>
