<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
    <bean id="screen" class="com.spring.calculate.ScreenWriter" />
    <bean id="multiply" class="com.spring.calculate.OpMultiply" />
    <bean id="add" class="com.spring.calculate.OpAdd" />
    <bean id="opsbean" class="com.spring.calculate.CalculateSpring" autowire="byType" />
        <aop:aspectj-autoproxy />
    <bean id="logaspect" class="com.spring.calculate.aspects.LoggingAspect" />
</beans>